@-webkit-keyframes wobble {
	from {
	  -webkit-transform: none;
	  transform: none;
	}
   
	15% {
	  -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
	  transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
	}
   
	30% {
	  -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
	  transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
	}
   
	45% {
	  -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
	  transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
	}
   
	60% {
	  -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
	  transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
	}
   
	75% {
	  -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
	  transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
	}
   
	to {
	  -webkit-transform: none;
	  transform: none;
	}
   }
   
   @keyframes wobble {
	from {
	  -webkit-transform: none;
	  transform: none;
	}
   
	15% {
	  -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
	  transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
	}
   
	30% {
	  -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
	  transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
	}
   
	45% {
	  -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
	  transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
	}
   
	60% {
	  -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
	  transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
	}
   
	75% {
	  -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
	  transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
	}
   
	to {
	  -webkit-transform: none;
	  transform: none;
	}
   }
   
   .wobble {
	-webkit-animation-name: wobble;
	animation-name: wobble;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
   }
   
   
   @-webkit-keyframes shake {
	from, to {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
   
	10%, 30%, 50%, 70%, 90% {
	  -webkit-transform: translate3d(-10px, 0, 0);
	  transform: translate3d(-10px, 0, 0);
	}
   
	20%, 40%, 60%, 80% {
	  -webkit-transform: translate3d(10px, 0, 0);
	  transform: translate3d(10px, 0, 0);
	}
   }
   
   @keyframes shake {
	from, to {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
   
	10%, 30%, 50%, 70%, 90% {
	  -webkit-transform: translate3d(-10px, 0, 0);
	  transform: translate3d(-10px, 0, 0);
	}
   
	20%, 40%, 60%, 80% {
	  -webkit-transform: translate3d(10px, 0, 0);
	  transform: translate3d(10px, 0, 0);
	}
   }
   
   .shake {
	-webkit-animation-name: shake;
	animation-name: shake;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
   }
   
   #modal-logon header{
	background: #eee;
	margin-bottom: 10px;
	overflow: hidden;
	border-radius: 3px 3px 0 0;
	width: 100%;
   }
   #modal-logon header a{
	display: block;
	float: left;
	width: 50%;
	padding: 0;
	text-align: center;
	background: #ddd;
	color: #999;
	height: 65px;
	vertical-align: middle;
	line-height: 65px;
	font-family: 'Lato', arial;
	font-size: 15px;
	transition: all 0.3s ease;
   }
   #modal-logon header a:not(.active):hover{
	box-shadow: inset 0 -10px 20px -10px #aaa
   } 
   #modal-logon header a.active{
	background: #fff;
	color: #777;
   }
   #modal-logon .sections{
	overflow: hidden;
   }
   #modal-logon section{
	padding: 30px;
   }
   #modal-logon section input:not([type="checkbox"]), #modal-logon section button{
	width: 100%;
	border-radius: 3px;
	border: 1px solid #ddd;
	margin-bottom: 26px;
	padding: 15px;
	font-size: 14px;
   }
   #modal-logon section button{
	height: 46px;
	padding: 0;
   }
   
   #modal-logon section input:focus{
	border-color:#28CA97;
   }
   #modal-logon section label[for="check"]{
	margin-bottom: 26px;
	font-size: 14px;
	color: #999;
	display: block;
   }
   #modal-logon section footer{
	overflow: hidden;
   }
   #modal-logon section button{
	background: #28CA97;
	color: white;
	margin: 0;
	border: 0;
	cursor: pointer;
	width: 50%;
	float: left;
   }
   #modal-logon section button:hover{
	opacity: 0.8;
   }
   #modal-logon section button:nth-child(1){
	border-radius: 3px 0 0 3px;
	background: #aaa;
   }
   #modal-logon section button:nth-child(2){
	border-radius: 0 3px 3px 0;
   }
   
   #modal-logon .icon-close{
	background: #FFF;
	margin-bottom: 10px;
	position: absolute;
	right: -8px;
	top: -8px;
	font-size: 14px;
	font-weight: bold;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	border: 0;
	color: #a9a9a9;
	cursor: pointer;
   }
   #modal-logon .icon-close:hover, #modal-logon .icon-close:focus{
	color: black;
   }
   #modal-logon.hasScroll .icon-close{
	display: none;
   }
   .iziModal .iziModal-header-title{
	font-family: 'Lato', arial;
	font-weight: 500;
   }
   .logonBoxFix{
	  display:none;
   }